.main-authentication{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.footer-authentication{
    display: flex;
    justify-content: center;
    
    p{
        max-width: 300px;
    }
}